* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 93.75em) {
  html {
    font-size: 57.5%;
  }
}
@media only screen and (max-width: 80em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 47.5%;
  }
}

body {
  font-family: "Mozilla Text", sans-serif;
  color: #161616;
  font-weight: 300;
  line-height: 1.6;
  background-color: #fefdf9;
}

#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#page-loader.is-hidden {
  animation: loaderFadeOut 0.8s ease-in-out forwards;
}

@keyframes loaderFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
    visibility: hidden;
  }
}
.loader-text {
  font-size: 8rem;
  animation: loadText 2s linear infinite;
}
@media only screen and (max-width: 120em) {
  .loader-text {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 53.75em) {
  .loader-text {
    font-size: 4rem;
  }
}

@keyframes loadText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 25rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
  opacity: 0;
}

#content {
  display: grid;
  height: 100vh;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 90rem;
  row-gap: 5rem;
  transition: opacity 1s ease-out 0.5s;
}
@media only screen and (max-width: 120em) {
  #content {
    grid-template-rows: 80rem;
  }
}
@media only screen and (max-width: 34.375em) {
  #content {
    grid-template-rows: 65rem;
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  }
}

#content.is-active {
  opacity: 1;
}

.header {
  grid-column: full-start/full-end;
  background-image: linear-gradient(to bottom, #ffa66c, #fefdf9);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(4, auto) 1fr;
  row-gap: 2rem;
  justify-items: center;
  overflow: hidden;
}
.header_img {
  display: block;
  max-width: 100%;
  min-width: 250rem;
  position: absolute;
  z-index: 0;
  bottom: 0;
}
@media only screen and (max-width: 120em) {
  .header_img {
    max-width: 190rem;
    min-width: 190rem;
  }
}
@media only screen and (max-width: 34.375em) {
  .header_img {
    top: 10%;
  }
}
.header_title {
  margin-top: 3rem;
  grid-column: center-start/center-end;
  font-size: 10rem;
  line-height: 1;
  font-weight: 600;
  text-align: center;
}
@media only screen and (max-width: 120em) {
  .header_title {
    font-size: 9rem;
  }
}
@media only screen and (max-width: 80em) {
  .header_title {
    font-weight: 500;
  }
}
.header_subtitle {
  grid-column: center-start/center-end;
  font-size: 4rem;
  opacity: 0;
  animation: fadeIn 0.65s ease-in forwards;
  animation-delay: 3s;
  text-align: center;
}
.header_description {
  grid-column: center-start/center-end;
  font-size: 2rem;
  display: flex;
}
@media only screen and (max-width: 34.375em) {
  .header_description {
    font-size: 1.4rem;
    grid-column: full-start/full-end;
  }
}
.header_description_box {
  padding-left: 10rem;
  transform: translateX(-5rem);
  overflow: hidden;
}
.header_description_text {
  font-size: 2rem;
  animation: slideFromRight 1s ease-out forwards;
  animation-delay: 3.65s;
  opacity: 0;
}
@media only screen and (max-width: 34.375em) {
  .header_description_text {
    font-size: 1.4rem;
  }
}
.header_description_text_green {
  background: linear-gradient(to right, green);
  background-clip: text;
  color: transparent;
  transform: translateX(-5rem);
}
.header_navbox {
  grid-column: center-start/center-end;
  background-color: #ffc99f;
  width: 100%;
  margin-top: 3rem;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 34.375em) {
  .header_navbox {
    grid-column: full-start/full-end;
    margin-top: 0;
    border-radius: 0;
  }
}
.header_navbox_img {
  width: 10rem;
  height: 10rem;
}
.header_navbox_favicon {
  margin-left: 2rem;
  width: 5rem;
  height: 5rem;
}
.header_navbox_nav {
  list-style: none;
  display: flex;
  z-index: 100;
}
.header_navbox_nav_item {
  padding: 2rem 1rem;
}
.header_navbox_nav_link:link, .header_navbox_nav_link:visited {
  display: block;
  font-size: 1.7rem;
  color: #161616;
  font-weight: 600;
  text-decoration: none;
  font-family: "Mozilla Text", sans-serif;
  text-transform: uppercase;
  transition: all 0.2s;
}
.header_navbox_nav_link:hover, .header_navbox_nav_link:active {
  color: #8a6f5a;
}

.main {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: subgrid;
}
.main_experiences {
  grid-column: center-start/center-end;
}
.main_experiences_title {
  font-size: 6rem;
  justify-self: center;
  line-height: 1;
  font-weight: 500;
  text-align: center;
}
.main_experiences_block {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 10rem 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 5s;
  opacity: 0;
}
@media only screen and (max-width: 53.75em) {
  .main_experiences_block {
    flex-direction: column;
  }
  .main_experiences_block:last-child {
    margin-top: 10rem;
    margin-bottom: 6rem;
  }
  .main_experiences_block:nth-child(2) {
    margin-top: 4rem;
    margin-bottom: 10rem;
  }
}
.main_experiences_block_img {
  width: 70rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 120em) {
  .main_experiences_block_img {
    width: 60rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .main_experiences_block_img {
    width: 50rem;
  }
}
@media only screen and (max-width: 53.75em) {
  .main_experiences_block_img {
    width: 100%;
    order: -1;
  }
}
.main_experiences_block_text {
  flex: 0 0 45%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main_experiences_block_text_header {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1;
}
@media only screen and (max-width: 80em) {
  .main_experiences_block_text_header {
    font-weight: 400;
  }
}
.main_experiences_block_text_subtitle {
  font-size: 1.8rem;
  font-weight: 500;
}
.main_experiences_block_text_description {
  font-size: 1.5rem;
  line-height: 1.5;
}
.main_projects {
  grid-column: full-start/full-end;
  justify-items: center;
  margin-top: 8rem;
}
@media only screen and (max-width: 120em) {
  .main_projects {
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 80em) {
  .main_projects {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 53.75em) {
  .main_projects {
    margin-top: 0;
  }
}
.main_projects_title {
  font-size: 6rem;
  line-height: 1;
  font-weight: 500;
  text-align: center;
}
.main_projects_btn {
  display: block;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  appearance: none;
  border-radius: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 5s;
  opacity: 0;
  font-size: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 62.5em) {
  .main_projects_btn {
    font-size: 0;
    opacity: 0 !important;
  }
}
.main_projects .fa-regular {
  transition: all 0.2s;
}
.main_projects_icon {
  transform: rotate(360deg);
}
.main_projects_cards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 5s;
  opacity: 0;
}
.main_projects_cards .main_projects_card:has(~ .main_projects_card:hover) {
  animation-play-state: paused;
}
@media only screen and (max-width: 62.5em) {
  .main_projects_cards {
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
}
.main_projects_card {
  display: block;
  color: inherit;
  text-decoration: none;
  background-color: #f3efe6;
  width: 52rem;
  height: 28rem;
  padding: 2.5rem;
  border-radius: 5px;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.2s;
}
@media only screen and (max-width: 80em) {
  .main_projects_card {
    width: 28%;
    min-width: 40rem;
  }
}
.main_projects_card:nth-child(1) {
  animation: card1 4s infinite alternate ease-out;
}
.main_projects_card:nth-child(2) {
  animation: card2 2s infinite ease-in-out;
}
.main_projects_card:nth-child(3) {
  animation: card3 4s infinite alternate ease-out;
}
.main_projects_card:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  animation-play-state: paused;
}
.main_projects_card:hover ~ .main_projects_card {
  animation-play-state: paused;
}
.main_projects_card:hover .main_projects_card_header_imgbox_img {
  outline: 2px solid rgba(119, 119, 119, 0.8);
}
.main_projects_card:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.main_projects_card_header {
  display: flex;
  gap: 5rem;
}
@media only screen and (max-width: 34.375em) {
  .main_projects_card_header {
    gap: 2.5rem;
  }
}
.main_projects_card_header_imgbox {
  flex: 0 0 45%;
}
.main_projects_card_header_imgbox_img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  outline: 2px solid rgba(119, 119, 119, 0.3);
  transition: all 0.2s;
}
.main_projects_card_header_text {
  flex: 1 0;
}
.main_projects_card_header_text_title {
  font-size: 3rem;
  font-weight: 600;
}
.main_projects_card_header_text_subtitle {
  font-size: 2rem;
  font-style: italic;
}
.main_projects_card_description {
  margin-top: 2rem;
  font-size: 1.4rem;
}
.main_projects_card_no_animation {
  display: block;
  color: inherit;
  text-decoration: none;
  background-color: #f3efe6;
  width: 52rem;
  height: 28rem;
  padding: 2.5rem;
  border-radius: 5px;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.2s;
}
@media only screen and (max-width: 80em) {
  .main_projects_card_no_animation {
    width: 28%;
    min-width: 40rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .main_projects_card_no_animation {
    width: 52rem;
  }
}
@media only screen and (max-width: 34.375em) {
  .main_projects_card_no_animation {
    width: 80%;
    min-width: 35rem;
  }
}
.main_projects_card_no_animation:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}
.main_projects_card_no_animation:hover .main_projects_card_header_imgbox_img {
  outline: 2px solid rgba(119, 119, 119, 0.8);
}
.main_projects_card_no_animation:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.main_projects_card_no_animation_header {
  display: flex;
  gap: 5rem;
}
.main_projects_card_no_animation_header_imgbox {
  flex: 0 0 45%;
}
.main_projects_card_no_animation_header_imgbox_img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  outline: 2px solid rgba(119, 119, 119, 0.3);
  transition: all 0.2s;
}
.main_projects_card_no_animation_header_text {
  flex: 1 0;
}
.main_projects_card_no_animation_header_text_title {
  font-size: 3rem;
  font-weight: 600;
}
.main_projects_card_no_animation_header_text_subtitle {
  font-size: 2rem;
  font-style: italic;
}
.main_projects_card_no_animation_description {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.footer {
  grid-column: full-start/full-end;
  background-color: #f3efe6;
  margin-top: 8rem;
  padding-top: 3rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 53.75em) {
  .footer {
    margin-top: 0;
  }
}
.footer_favicon {
  width: 5rem;
  height: 5rem;
  transition: all 0.2s;
}
.footer_favicon:hover {
  opacity: 0.5;
}
.footer_icons {
  display: flex;
  gap: 3rem;
}
.footer_icons_icon {
  cursor: pointer;
  font-size: 3.5rem;
  transition: all 0.2s;
}
.footer_icons_icon:link, .footer_icons_icon:visited {
  color: inherit;
  text-decoration: none;
}
.footer_icons_icon:hover, .footer_icons_icon:active {
  color: inherit;
  opacity: 0.5;
}
.footer_text {
  font-size: 2.2rem;
  color: #84827e;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  85% {
    transform: translateX(-10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes card1 {
  0% {
    transform: translateX(0) translateY(0);
  }
  20% {
    transform: translateX(-3%) translateY(3%);
  }
  40% {
    transform: translateX(3%) translateY(-4%);
  }
  60% {
    transform: translateX(-3%) translateY(1%);
  }
  80% {
    transform: translateX(-2%) translateY(-3%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes card2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes card3 {
  0% {
    transform: translateX(0) translateY(0);
  }
  20% {
    transform: translateX(3%) translateY(-1%);
  }
  40% {
    transform: translateX(-4%) translateY(4%);
  }
  60% {
    transform: translateX(1%) translateY(1%);
  }
  80% {
    transform: translateX(4%) translateY(5%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
