// Colors
$color-primary: #ffa66c;
$color-primary-light: #ffbe94;
$color-primary-light-2: #fff6ed;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-near-black: #161616;

// Fonts
$font-primary: "Mozilla Text", sans-serif;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-near-black;
  font-weight: 300;
  line-height: 1.6;
}
