// Colors
$color-primary: #ffa66c;
$color-primary-light: #ffc99f;
$color-primary-light-2: #fff6ed;

$color-secondary: #f3efe6;

$color-off-white: #fefdf9;

$color-grey-dark-1: #84827e;
$color-grey-dark-2: #777;

$color-near-black: #161616;

// Fonts
$font-primary: "Mozilla Text", sans-serif;

// Breakpoints px/16
$bp-1: 120em; // 1920px
$bp-2: 93.75em; // 1500px
$bp-3: 80em; // 1280px
$bp-4: 62.5em; // 1000px
$bp-5: 53.75em; // 860px
$bp-6: 34.375em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @media only screen and (max-width: $bp-2) {
    font-size: 57.5%;
  }

  @media only screen and (max-width: $bp-3) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-4) {
    font-size: 47.5%;
  }
}

body {
  font-family: $font-primary;
  color: $color-near-black;
  font-weight: 300;
  line-height: 1.6;
  background-color: $color-off-white;
}
