// =================================================================================== //
//                                                                                     //
//                                    Header                                           //
//                                                                                     //
// =================================================================================== //

.header {
  grid-column: full-start / full-end;

  background-image: linear-gradient(to bottom, $color-primary, $color-off-white);
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(4, auto) 1fr;
  row-gap: 2rem;
  justify-items: center;

  overflow: hidden;

  &_img {
    display: block;
    max-width: 100%;
    min-width: 250rem;
    position: absolute;
    z-index: 0;
    bottom: 0;

    @media only screen and (max-width: $bp-1) {
      max-width: 190rem;
      min-width: 190rem;
    }

    @media only screen and (max-width: $bp-6) {
      top: 10%;
    }
  }

  &_title {
    margin-top: 3rem;
    grid-column: center-start / center-end;
    font-size: 10rem;
    line-height: 1;
    font-weight: 600;
    text-align: center;

    @media only screen and (max-width: $bp-1) {
      font-size: 9rem;
    }

    @media only screen and (max-width: $bp-3) {
      font-weight: 500;
    }
  }

  &_subtitle {
    grid-column: center-start / center-end;
    font-size: 4rem;
    opacity: 0;
    animation: fadeIn 0.65s ease-in forwards;
    animation-delay: 4s;
    text-align: center;
  }

  &_description {
    grid-column: center-start / center-end;
    font-size: 2rem;
    display: flex;

    @media only screen and (max-width: $bp-6) {
      font-size: 1.4rem;
      grid-column: full-start / full-end;
    }

    &_box {
      padding-left: 10rem;
      transform: translateX(-5rem);
      overflow: hidden;
    }

    &_text {
      font-size: 2rem;
      animation: slideFromRight 1s ease-out forwards;
      animation-delay: 4.65s;
      opacity: 0;

      @media only screen and (max-width: $bp-6) {
        font-size: 1.4rem;
      }

      &_green {
        background: linear-gradient(to right, green);
        background-clip: text;
        color: transparent;
        transform: translateX(-5rem);
      }
    }
  }

  &_navbox {
    grid-column: center-start / center-end;
    background-color: $color-primary-light;
    width: 100%;
    margin-top: 3rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-6) {
      grid-column: full-start / full-end;
      margin-top: 0;
      border-radius: 0;
    }

    &_img {
      width: 10rem;
      height: 10rem;
    }

    &_favicon {
      margin-left: 2rem;
      width: 5rem;
      height: 5rem;
    }

    &_nav {
      list-style: none;
      display: flex;
      z-index: 100;

      &_item {
        padding: 2rem 1rem;
      }

      &_link:link,
      &_link:visited {
        display: block;
        font-size: 1.7rem;
        color: $color-near-black;
        font-weight: 600;
        text-decoration: none;
        font-family: $font-primary;
        text-transform: uppercase;
        transition: all 0.2s;
      }

      &_link:hover,
      &_link:active {
        color: #8a6f5a;
      }
    }
  }
}

// =================================================================================== //
//                                                                                     //
//                                    Main                                             //
//                                                                                     //
// =================================================================================== //

.main {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: subgrid;

  &_experiences {
    grid-column: center-start / center-end;

    &_title {
      font-size: 6rem;
      justify-self: center;
      line-height: 1;
      font-weight: 500;
      text-align: center;
    }

    &_block {
      display: flex;
      justify-content: center;
      gap: 5rem;
      margin: 10rem 0;
      animation: fadeIn 1s ease-in forwards;
      animation-delay: 6s;
      opacity: 0;

      @media only screen and (max-width: $bp-5) {
        flex-direction: column;

        &:last-child {
          margin-top: 10rem;
          margin-bottom: 6rem;
        }

        &:nth-child(2) {
          margin-top: 4rem;
          margin-bottom: 10rem;
        }
      }

      &_img {
        width: 70rem;
        height: auto;
        border-radius: 1rem;
        box-shadow: 0 1rem 2rem rgba(#000, 0.2);

        @media only screen and (max-width: $bp-1) {
          width: 60rem;
        }

        @media only screen and (max-width: $bp-4) {
          width: 50rem;
        }

        @media only screen and (max-width: $bp-5) {
          width: 100%;
          order: -1;
        }
      }

      &_text {
        flex: 0 0 45%;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &_header {
          font-size: 4.5rem;
          font-weight: 500;
          line-height: 1;

          @media only screen and (max-width: $bp-3) {
            font-weight: 400;
          }
        }

        &_subtitle {
          font-size: 1.8rem;
          font-weight: 500;
        }

        &_description {
          font-size: 1.5rem;
          line-height: 1.5;
        }
      }
    }
  }

  &_projects {
    grid-column: full-start / full-end;
    justify-items: center;
    margin-top: 8rem;

    @media only screen and (max-width: $bp-1) {
      margin-top: 3rem;
    }

    @media only screen and (max-width: $bp-3) {
      margin-top: 1rem;
    }

    @media only screen and (max-width: $bp-5) {
      margin-top: 0;
    }

    &_title {
      font-size: 6rem;
      line-height: 1;
      font-weight: 500;
      text-align: center;
    }

    &_btn {
      display: block;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      appearance: none;
      border-radius: 0;
      animation: fadeIn 1s ease-in forwards;
      animation-delay: 6s;
      opacity: 0;

      font-size: 4rem;
      margin-top: 0.5rem;
      margin-bottom: 4rem;

      @media only screen and (max-width: $bp-4) {
        font-size: 0;
        opacity: 0 !important;
      }
    }

    .fa-regular {
      transition: all 0.2s;
    }

    &_icon {
      transform: rotate(360deg);
    }

    &_cards {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      animation: fadeIn 1s ease-in forwards;
      animation-delay: 6s;
      opacity: 0;

      & .main_projects_card:has(~ .main_projects_card:hover) {
        animation-play-state: paused;
      }

      @media only screen and (max-width: $bp-4) {
        flex-direction: column;
        align-items: center;
        gap: 6rem;
      }
    }

    &_card {
      display: block;
      color: inherit;
      text-decoration: none;
      background-color: $color-secondary;
      width: 52rem;
      height: 28rem;
      padding: 2.5rem;
      border-radius: 5px;
      box-shadow: 0 0.8rem 1rem rgba(#000, 0.15);
      cursor: pointer;
      transition: all 0.2s;

      @media only screen and (max-width: $bp-3) {
        width: 28%;
        min-width: 40rem;
      }

      &:nth-child(1) {
        animation: card1 4s infinite alternate ease-out;
      }

      &:nth-child(2) {
        animation: card2 2s infinite ease-in-out;
      }

      &:nth-child(3) {
        animation: card3 4s infinite alternate ease-out;
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(#000, 0.25);
        animation-play-state: paused;
      }

      &:hover ~ & {
        animation-play-state: paused;
      }

      &:hover &_header_imgbox_img {
        outline: 2px solid rgba($color-grey-dark-2, 0.8);
      }

      &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
      }

      &_header {
        display: flex;
        gap: 5rem;

        @media only screen and (max-width: $bp-6) {
          gap: 2.5rem;
        }

        &_imgbox {
          flex: 0 0 45%;

          &_img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            outline: 2px solid rgba($color-grey-dark-2, 0.3);
            transition: all 0.2s;
          }
        }

        &_text {
          flex: 1 0;

          &_title {
            font-size: 3rem;
            font-weight: 600;
          }

          &_subtitle {
            font-size: 2rem;
            font-style: italic;
          }
        }
      }

      &_description {
        margin-top: 2rem;
        font-size: 1.4rem;
      }
    }

    &_card_no_animation {
      display: block;
      color: inherit;
      text-decoration: none;
      background-color: $color-secondary;
      width: 52rem;
      height: 28rem;
      padding: 2.5rem;
      border-radius: 5px;
      box-shadow: 0 0.8rem 1rem rgba(#000, 0.15);
      cursor: pointer;
      transition: all 0.2s;

      @media only screen and (max-width: $bp-3) {
        width: 28%;
        min-width: 40rem;
      }

      @media only screen and (max-width: $bp-4) {
        width: 52rem;
      }

      @media only screen and (max-width: $bp-6) {
        width: 80%;
        min-width: 35rem;
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(#000, 0.25);
      }

      &:hover .main_projects_card_header_imgbox_img {
        outline: 2px solid rgba($color-grey-dark-2, 0.8);
      }

      &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
      }

      &_header {
        display: flex;
        gap: 5rem;

        &_imgbox {
          flex: 0 0 45%;

          &_img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            outline: 2px solid rgba($color-grey-dark-2, 0.3);
            transition: all 0.2s;
          }
        }

        &_text {
          flex: 1 0;

          &_title {
            font-size: 3rem;
            font-weight: 600;
          }

          &_subtitle {
            font-size: 2rem;
            font-style: italic;
          }
        }
      }

      &_description {
        margin-top: 2rem;
        font-size: 1.4rem;
      }
    }
  }
}

// =================================================================================== //
//                                                                                     //
//                                    Footer                                           //
//                                                                                     //
// =================================================================================== //

.footer {
  grid-column: full-start / full-end;

  background-color: $color-secondary;
  margin-top: 8rem;
  padding-top: 3rem;
  padding-bottom: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media only screen and (max-width: $bp-5) {
    margin-top: 0;
  }

  &_favicon {
    width: 5rem;
    height: 5rem;
    transition: all 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }

  &_icons {
    display: flex;
    gap: 3rem;

    &_icon {
      cursor: pointer;
      font-size: 3.5rem;
      transition: all 0.2s;

      &:link,
      &:visited {
        color: inherit;
        text-decoration: none;
      }

      &:hover,
      &:active {
        color: inherit;
        opacity: 0.5;
      }
    }
  }

  &_text {
    font-size: 2.2rem;
    color: $color-grey-dark-1;
  }
}

// =================================================================================== //
//                                                                                     //
//                                    Animations                                       //
//                                                                                     //
// =================================================================================== //

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  85% {
    transform: translateX(-10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes card1 {
  0% {
    transform: translateX(0) translateY(0);
  }
  20% {
    transform: translateX(-3%) translateY(3%);
  }
  40% {
    transform: translateX(3%) translateY(-4%);
  }
  60% {
    transform: translateX(-3%) translateY(1%);
  }
  80% {
    transform: translateX(-2%) translateY(-3%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes card2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes card3 {
  0% {
    transform: translateX(0) translateY(0);
  }
  20% {
    transform: translateX(3%) translateY(-1%);
  }
  40% {
    transform: translateX(-4%) translateY(4%);
  }
  60% {
    transform: translateX(1%) translateY(1%);
  }
  80% {
    transform: translateX(4%) translateY(5%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
