#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#page-loader.is-hidden {
  animation: loaderFadeOut 0.8s ease-in-out forwards;
}

@keyframes loaderFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
    visibility: hidden;
  }
}

.loader-text {
  font-size: 8rem;
  animation: loadText 2s linear infinite;

  @media only screen and (max-width: $bp-1) {
    font-size: 6rem;
  }

  @media only screen and (max-width: $bp-5) {
    font-size: 4rem;
  }
}

.loader-text.finished {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes loadText {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.spinner-container {
  width: 10rem;
  height: 10rem;

  @media only screen and (max-width: $bp-5) {
    width: 8rem;
    height: 8rem;
  }
}

.spinner {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: transform 0s linear;
}

.bg {
  fill: none;
  stroke: #f3f3f3;
  stroke-width: 10;
}

.progress {
  fill: none;
  stroke: #3498db;
  stroke-width: 10;
  stroke-linecap: round;

  stroke-dasharray: 283;
  stroke-dashoffset: 212;

  transition: stroke-dashoffset 0.7s linear;
}

.spinner.is-filling {
}

.progress.is-filled {
  stroke-dashoffset: 0;
}

.hidden {
  display: none;
  opacity: 0;
}

#content {
  display: grid;
  height: 100vh;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 90rem;
  row-gap: 5rem;
  transition: opacity 1s ease-out 0.5s;
  overflow: hidden;

  @media only screen and (max-width: $bp-1) {
    grid-template-rows: 80rem;
  }

  @media only screen and (max-width: $bp-6) {
    grid-template-rows: 65rem;
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  }
}

#content.is-active {
  opacity: 1;
  overflow: auto;
}
