.heading-1 {
  font-size: 4.5rem;
  font-weight: inherit;
}

.heading-2 {
  font-size: 4rem;
  font-weight: inherit;
}

.heading-3 {
  font-size: 3rem;
  font-weight: inherit;
}

.heading-4 {
  font-size: 2rem;
  font-weight: inherit;
}
